/*GENERAL CSS FORMATTING*/
body
{
    background-color: #000821;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-family: century gothic,Arial, Helvetica, sans-serif;
}

h1, #form-area
{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

h1
{
    font-size: 50px;
}

#now-playing
{
    display:flex;
    justify-content: center;
    font-size: 30px;
    margin-top:auto;
}

.hidden
{
    display: none;
    margin-left: auto;
    margin-right: auto;
}





/*CSS FORMATTING FOR THE HEADER NAVIGATION AREA*/
.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1)); 
    margin-top: 0px;
    width: 100%;
    margin-left: 0;
    position: fixed;
    top:0;

}

.responsive-container
{
    padding-top: 10%;
}

#logo-title
{
    display: flex;
    justify-content:center;
    align-items: center;
}

#logo
{
    height:100%;
}

#search-input
{
    width: 250px;
}




/*CSS FORMATTING FOR MOVIE GRID DISPLAY AREA*/
#movies-grid
{
    display:grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-evenly;
    grid-gap: 5px;
    grid-auto-rows: minmax(125px, auto);
}


@media screen and (max-width: 500px)
{
    #movies-grid
    {
        grid-template-columns: repeat(2, auto);
    }
}



.movie-card
{
    width: 200px;
    margin-bottom: 1em;

    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
}

.movie-card:hover
{
    transform: scale(1.2);
}

.movie-poster:hover
{
    border: 1px solid #FFFFFF;
    filter: brightness(75%);
}





/*CSS FORMATTING FOR BUTTONS*/
#load-more-movies-btn
{
    display: block;
    margin: auto;
}

#search-input, #search-btn, #load-more-movies-btn
{
    font-family: century gothic,Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 8px;
}


#search-btn, #load-more-movies-btn
{
    background-color: #0c006b;
    color: white;
    border: 2px solid #FFFFFF;
}

#load-more-movies-btn
{
    padding: 10px;
}

#search-input, #search-btn
{
    margin-right: 10px;
}




/*CSS FORMATTING FOR POPUP INFORMATION*/
.popup-area
{
    display:none;
    position:fixed;
    z-index:1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:70%;
    height:500px;
    overflow:auto;
    opacity: 90%;

    -webkit-animation: bgcolor 20s infinite;
    animation: bg color 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;

}

@keyframes bgcolor
{
    0%{background-color: #000000}
    30%{background-color: #060033}
    60%{background-color: #000000}
    90%{background-color: #001433}
    100%{background-color: #000000}
}

#extra-movie-info
{
    text-align: center;
    padding: 10px;
}

#movie-runtime-release
{
    display: flex;
    justify-content: center;
}

#close-popup
{
    color: #FFFFFF;
    float: right;
    font-size: 40px;
    font-weight: bold;
    background-color: #000000;
}

#close-popup:hover, #close-popup:focus
{
    color: #0052cc;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #0052cc;
}

.movie-backdrop
{
    width:80%;
    filter: brightness(110%) saturate(125%);
}

#popup-title
{
    font-size: 40px;
}





/*CSS FORMATING FOR ATTRIBUTION AREA*/
.attribution-area
{
    background-color: #000000;
    color: #FFFFFF;
    bottom: 0;
    width: 100%;
    display: flex;
    margin-top: auto;
    position: fixed;
    height: 25px;
}

#movieDB-logo
{
    width: 15%;
    display: flex;
    margin-left: 10px;

}